<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SMART.WCS.Common.Base.Settings1"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SMART.WCS.Common.Base.Settings1>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="MainDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseConnectionString_ORACLE" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseConnectionString_MSSQL" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseConnectionString_MariaDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDatabaseKind" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyCode" serializeAs="String">
                <value />
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value />
            </setting>
            <setting name="RoleCD" serializeAs="String">
                <value />
            </setting>
            <setting name="CenterCD" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV_REAL" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginCenter" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID_KIOSK" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName_KIOSK" serializeAs="String">
                <value />
            </setting>
            <setting name="RoleCode_KIOSK" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="CenterName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcInqTerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnlInqTerm" serializeAs="String">
                <value>0</value>
            </setting>
        </SMART.WCS.Common.Base.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
