<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--MS-SQL 연결문자열-->
    <!--<add name="WCS" connectionString="Data Source=192.168.0.54;Initial Catalog=HJ_DEV_TD;Persist Security Info=True;User ID=sa;Pwd=wcs1234#" providerName="System.Data.SqlClient"/>-->
    <add name="WCS" connectionString="IXtNqUfGhxdgXFkAJlEJTB5osgl2n4PjwaYJ5jXugw70Kxwf2onlHqah45DATo4CLFq6+dM6s+UWIsyahw7u4vN4PFRrvNbEioAn/NmwYBWzYzBFNxPuXupkZnt704kOYg+/gVmorYfK0wH6heFD8zXYk7zBJKcbc5fIYp8bFPS2lrTgzBWEEW7Lr7ezg4hxsEKPHzmmM0VI+v574wrdBA=="/>

    <!--한진 로컬개발-->
    <!--<add name="WCS" connectionString="8crVdK6TfZpjJ0LbtHH8vMoLpnHzkcEbnHFx3+HOD9cBSxh0u+Ad/3pkdM90CsHZqBlgyC3b9Oz4SBQbMggQsUbkNuymVOL1QEeTpb5cYL2q4/5wgjxIlGsIjtOlZ5z0y/qFZYnlSEOrod88LnHn1g=="/>-->

    <!--한진 상황실-->
    <!--<add name="WCS" connectionString="yGjCNhFsjBD9aTkyUyjFYVpry6a5gSJK+bsZ9S6EdG2m73d15qfTtaM3Qq9tWPsOzDSDNbsX87wHLMqpCZaIPQN4MxRtWfR/KY1ci1GiLUOA4esz7Nd8d/1zWKysmzhuCex2GVU5+Dy5DwecVZ0oIA=="/>-->

  </connectionStrings>
  <appSettings>
    <add key="CompanyCode" value="HJ"/>
    <add key="MainDatabase" value="MSSQL"/>
    <add key="AppName" value="WCS"/>
    <add key="DBConnectType_DEV_REAL" value="DEV"/>
    <add key="SCADA_BC" value="C:\SMART WCS\SCADA Bucheon\SCADA.UI.exe"/>
    <add key="SCADA_YS" value="C:\SMART WCS\SCADA Yangsan\SCADA.UI.exe"/>

    <add key="App_WCS" value="D:\01 WorkSpace\SmartWcs\bin\Debug"/>
    <add key="App_SCADA" value="C:\SMART.WCS\SCADA"/>
    <add key="App_KIOSK" value="C:\SMART.WCS\KIOSK"/>

    <!--X-CAG-Authorization-->
    <add key="HeaderKey" value="GCIbcvmvtp5ZXIjeI27tyRk6ka2NLm8GJvw10woptHg="/>
    <!--AG_CONSUMER_TOKEN access-key=9f9e65fb-4933-45e8-8765-75d947d6a9e7-->
    <add key="HeaderValue" value="zBOXoZKmnZ8QWcYh3iBcdrSSK6P+jt3ZeRBJeFVxvB9nESzSkR9nyJ1/VCuz4JF4+gSJMF7w12ng2xITgXAbZViOcX9Li9dUnCj36bpThsg="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>