<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICoupangWebService"/>
                <binding name="BasicHttpBinding_ICoupangWebService2"/>
                <binding name="BasicHttpBinding_ICoupangWebService1"/>
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://localhost:61830/CoupangWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoupangWebService2"
          contract="Local_WebService_Coupang.ICoupangWebService" name="BasicHttpBinding_ICoupangWebService"/>
        <endpoint address="http://13.209.79.88:7101/Coupang/CoupangWebService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICoupangWebService" contract="WebService_Coupang.ICoupangWebService"
          name="BasicHttpBinding_ICoupangWebService"/>
      </client>
    </system.serviceModel>
</configuration>